
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Melting Pot</title>
    <link rel="stylesheet" href="/static/meltingpot.css">
    
    <link rel="stylesheet" href="">
</head>
<body>
    <div class="chat-container">
        <header>
            <h1>Melting Pot</h1>
            <p>Talk to foodies live</p>
        </header>
        <ul id="messages"></ul>
        <input id="message-input" type="text" placeholder="Type message..." />
        <button onclick="sendMessage()">Send</button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script type='text/javascript' src="/static/meltingpot.js"></script>
</body>
</html>