<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Chat Room</title>
    <link rel="stylesheet" href="../static/recipe.css">
</head>
<body>
    
    <h1 id = "mp-header">Welcome to the Melting Pot!</h1>
    <ul id="messages"></ul>
    <input id="message-input" type="text" placeholder="Type message...{{current_user.username}}" />
    <button onclick="sendMessage()">Send</button>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="../static/socket.js"></script>

</body>
</html>
